/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */
.container {
  height:40px;
}

.navbar {
  font-size: 13px;
  height:41px;
}

.navbar-inner {
  height:40px;
}


.pull-right {
  float:right;
}

body {
  padding-top: 40px;
  width:100%;
}

.wrapper {
  margin: 0 auto;
}

body > .navbar {
}

body > .wrapper > .navbar .brand {
  float:left;
}

body > .navbar > .nav > li > a {
  padding: 10px 15px 10px;
}

.left-menu {
  margin-top:20px;
  float: right;
}

.user-controll {
  margin-top: 50px;
}

.right-menu {
  margin-top: 20px;
}

.friend-search-form {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

.contents {
  padding-left:50px;
  padding-top:30px;
}


.pull-right img {
  width: 80%;
  height: 80%;
}
