/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */

.pull-right {
  float:right;
}

body {
  padding-top: 40px;
  width:100%;
}

.wrapper {
  margin: 0 auto;
}

body > .navbar {
  font-size: 12px;
}

body > .wrapper > .navbar .brand {
  float:left;
}

body > .navbar > .nav > li > a {
  padding: 10px 15px 10px;
}

.left-menu {
  float:right;
}

.right-menu {
  padding-top:30px;
}

.contents {
  margin:0;
  padding-left:50px;
  padding-top:30px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}


.pull-right img {
  width: 80%;
  height: 80%;
}
