<table class="table">
  <tbody>
    <% for friendship in @user.friendships %>
      <tr>
        <td class="avatar-img"><%= image_tag friendship.friend.avatar(:thumb) %></td>
        <td><%= link_to friendship.friend.name, profile_user_path(:id => friendship.friend.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


