<h1>Users found</h1>
<div id="notice"><%= notice %></div>

<% @searched_user.each do |user| %>
  <p>
  <%= image_tag user.avatar(:thumb) %>
  <%= link_to user.name, :controller => "users", :action => "profile", :id => user.id %>
  <%= link_to 'Add friend', friendships_path(:friend_id => user.id), :method => ':post', :class => "btn" %>
  </p>
<% end %>

