<h1>showing friends</h1>

<ul>
  <% for friendship in @user.friendships %>
    <p>
      <%= image_tag friendship.friend.avatar(:thumb) %>
      <%= friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </p>
  <% end %>
</ul>

